<h3><%=l(:label_activity)%></h3>

<%  events = Redmine::Activity::Fetcher.new(User.current, :author => @user).events(nil, nil, :limit => 5) %>
<%  events_by_day = events.group_by(&:event_date) %>

<%= render :partial => 'account/active_simple', :locals => { :activitys => events_by_day } %>

